.bolt-container10 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.bolt-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
  background-color: rgb(207, 34, 40);
}
 
.bolt-navlink1 {
  display: contents;
}
 
.bolt-image1 {
  width: 200px;
  height: 50px;
  text-decoration: none;
}
 
.bolt-desktop-menu1 {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.bolt-links {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.bolt-navlink2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  margin-left: var(--dl-layout-space-oneandhalfunits);
  text-decoration: none;
}
 
.bolt-link10 {
  fill: var(--dl-color-theme-neutral-dark);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  margin-left: var(--dl-layout-space-oneandhalfunits);
  text-decoration: none;
}
 
.bolt-link11 {
  fill: var(--dl-color-theme-neutral-dark);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  margin-left: var(--dl-layout-space-oneandhalfunits);
  text-decoration: none;
}
 
.bolt-container11 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-left: var(--dl-layout-space-unit);
  flex-direction: row;
  justify-content: center;
}
 
.bolt-navlink3 {
  display: contents;
}
 
.bolt-container12 {
  flex: 0 0 auto;
  width: var(--dl-layout-size-xxlarge);
  height: var(--dl-layout-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-layout-radius-buttonradius);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(0, 94, 164);
}
 
.bolt-text12 {
  color: rgb(255, 255, 255);
  align-self: center;
}
 
.bolt-burger-menu {
  display: none;
}
 
.bolt-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.bolt-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(207, 34, 40);
}
 
.bolt-nav {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  background-color: rgb(207, 34, 40);
}
 
.bolt-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.bolt-logo {
  height: 2rem;
}
 
.bolt-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.bolt-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.bolt-container13 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: column;
}
 
.bolt-navlink4 {
  color: #ffffff;
  align-self: center;
  text-decoration: none;
}
 
.bolt-link12 {
  color: #ffffff;
  align-self: center;
  text-decoration: none;
}
 
.bolt-link13 {
  color: #ffffff;
  align-self: center;
  text-decoration: none;
}
 
.bolt-navlink5 {
  color: #ffffff;
  border-width: 0px;
  border-radius: var(--dl-layout-radius-buttonradius);
  text-decoration: none;
  background-color: rgb(0, 94, 164);
}
 
.bolt-desktop-menu2 {
  flex: 1;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
 
.bolt-desktop-menu3 {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.bolt-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.bolt-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.bolt-icon18 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.bolt-container14 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
 
.bolt-container15 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.bolt-navlink6 {
  color: #810b81;
  font-family: "Inter";
  text-decoration: underline;
}
 
.bolt-navlink7 {
  fill: #810b81;
  color: #810b81;
  font-family: "Inter";
  text-decoration: underline;
}
 
.bolt-text15 {
  font-family: "Inter";
}
 
.bolt-container16 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-sixunits);
  padding-bottom: var(--dl-layout-space-sixunits);
  justify-content: center;
}
 
.bolt-container17 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 600px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.bolt-container18 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
 
.bolt-image2 {
  width: 50px;
  object-fit: cover;
}
 
.bolt-text16 {
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-style: normal;
  margin-top: var(--dl-layout-space-oneandhalfunits);
  font-family: "Inter";
  font-weight: 800;
  margin-right: var(--dl-layout-space-oneandhalfunits);
}
 
.bolt-text17 {
  font-size: 20px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
  margin-left: var(--dl-layout-space-threeunits);
}
 
.bolt-text18 {
  width: 500px;
  font-size: 16px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  margin-left: var(--dl-layout-space-threeunits);
}
 
.bolt-text19 {
  color: #000000;
}
 
.bolt-link14 {
  color: #0450f1;
  text-decoration: underline;
}
 
.bolt-text20 {
  color: #000000;
}
 
.bolt-link15 {
  display: contents;
}
 
.bolt-container19 {
  flex: 0 0 auto;
  width: 150px;
  height: var(--dl-layout-size-small);
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: flex-start;
  align-items: center;
  margin-left: var(--dl-layout-space-threeunits);
  border-radius: 20px;
  padding-bottom: 24px;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(207, 34, 40);
}
 
.bolt-text21 {
  color: rgb(255, 255, 255);
}
 
.bolt-image3 {
  width: 350px;
  object-fit: cover;
}
 
.bolt-container20 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-twounits);
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 94, 164);
}
 
.bolt-iframe {
  width: 320px;
  height: 200px;
}
 
.bolt-container21 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 633px;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.bolt-image4 {
  width: 70px;
  object-fit: cover;
}
 
.bolt-text22 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
}
 
.bolt-text23 {
  color: rgb(255, 255, 255);
}
 
.bolt-container22 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-threeunits);
  align-items: center;
  flex-direction: column;
  padding-bottom: 48px;
  justify-content: center;
  background-color: #ffffff;
}
 
.bolt-text24 {
  color: #000000;
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-family: "Inter";
  font-weight: 700;
}
 
.bolt-container23 {
  gap: var(--dl-layout-space-threeunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.bolt-container24 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: var(--dl-layout-size-xxlarge);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.bolt-container25 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: var(--dl-layout-size-xxlarge);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.bolt-container26 {
  flex: 0 0 auto;
  width: var(--dl-layout-size-xxlarge);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.bolt-link16 {
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
  text-decoration: none;
}
 
.bolt-text31 {
  color: #2828ef;
}
 
.bolt-container27 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: center;
  background-color: rgb(207, 34, 40);
}
 
.bolt-container28 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.bolt-container29 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.bolt-container30 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.bolt-container31 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.bolt-container32 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.bolt-navlink8 {
  display: contents;
}
 
.bolt-image5 {
  width: 200px;
  height: 50px;
  text-decoration: none;
}
 
.bolt-text34 {
  color: #fffdfd;
  font-size: 20px;
}
 
.bolt-container33 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.bolt-button {
  color: #ffffff;
  border-width: 0px;
  background-color: rgb(0, 94, 164);
}
 
.bolt-container34 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.bolt-container35 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.bolt-text38 {
  color: #fffdfd;
  font-size: 16px;
}
 
.bolt-container36 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.bolt-text39 {
  color: rgb(255, 253, 253);
}
 
.bolt-container37 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.bolt-text40 {
  color: rgb(255, 253, 253);
  font-size: 20px;
}
 
.bolt-link17 {
  color: rgb(255, 253, 253);
  text-decoration: none;
}
 
.bolt-link18 {
  color: rgb(255, 253, 253);
  text-decoration: none;
}
 
.bolt-link19 {
  color: rgb(255, 253, 253);
  text-decoration: none;
}
 
.bolt-link20 {
  color: rgb(255, 253, 253);
  text-decoration: none;
}
 
.bolt-link21 {
  color: rgb(255, 253, 253);
  text-decoration: none;
}
 
.bolt-text41 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.bolt-container38 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.bolt-text44 {
  color: rgb(255, 255, 255);
  font-style: normal;
  margin-top: var(--dl-layout-space-unit);
  font-family: "Inter";
  font-weight: 400;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.bolt-image6 {
  width: 111px;
  margin: var(--dl-layout-space-unit);
  object-fit: cover;
}
 
@media(max-width: 991px) {
  .bolt-container21 {
    width: 600px;
  }
}
 
@media(max-width: 767px) {
  .bolt-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .bolt-desktop-menu1 {
    display: none;
  }
  .bolt-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bolt-desktop-menu2 {
    display: none;
  }
  .bolt-desktop-menu3 {
    display: none;
  }
}
 
@media(max-width: 479px) {
  .bolt-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .bolt-link10 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
    text-decoration: none;
  }
  .bolt-icon10 {
    fill: #ffffff;
    width: var(--dl-layout-size-small);
    height: 30px;
  }
  .bolt-mobile-menu {
    padding: 16px;
  }
  .bolt-nav {
    height: 262px;
  }
  .bolt-container13 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .bolt-navlink4 {
    color: #ffffff;
  }
  .bolt-link12 {
    color: #ffffff;
  }
  .bolt-link13 {
    color: #ffffff;
  }
  .bolt-container14 {
    flex-direction: column;
  }
  .bolt-navlink6 {
    font-size: 13px;
  }
  .bolt-navlink7 {
    font-size: 13px;
  }
  .bolt-text15 {
    font-size: 13px;
  }
  .bolt-container16 {
    gap: var(--dl-layout-space-oneandhalfunits);
    padding-top: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .bolt-container17 {
    width: 100%;
    align-items: center;
  }
  .bolt-container18 {
    justify-content: center;
  }
  .bolt-text16 {
    font-size: 25px;
    text-align: center;
  }
  .bolt-text18 {
    width: auto;
    text-align: center;
    margin-left: 0px;
  }
  .bolt-container19 {
    width: auto;
    height: auto;
    align-self: center;
    margin-left: 0px;
  }
  .bolt-text21 {
    font-size: 16px;
    text-align: center;
  }
  .bolt-image3 {
    width: 100%;
  }
  .bolt-container20 {
    padding: var(--dl-layout-space-twounits);
    flex-direction: column;
  }
  .bolt-container21 {
    width: auto;
    align-items: center;
  }
  .bolt-image4 {
    margin-top: var(--dl-layout-space-unit);
    margin-bottom: var(--dl-layout-space-unit);
  }
  .bolt-text22 {
    font-size: 35px;
    text-align: center;
  }
  .bolt-text23 {
    text-align: center;
  }
  .bolt-text24 {
    text-align: center;
  }
  .bolt-container23 {
    width: auto;
    align-items: center;
    flex-direction: column;
  }
  .bolt-text25 {
    text-align: center;
  }
  .bolt-text27 {
    text-align: center;
  }
  .bolt-text29 {
    text-align: center;
  }
  .bolt-link16 {
    align-self: center;
    text-align: center;
  }
  .bolt-container28 {
    align-items: center;
  }
  .bolt-container29 {
    align-items: center;
    flex-direction: column;
  }
  .bolt-container30 {
    align-items: center;
  }
  .bolt-container31 {
    align-items: center;
  }
  .bolt-container32 {
    padding: var(--dl-layout-space-threeunits);
    align-items: center;
  }
  .bolt-container33 {
    justify-content: center;
  }
  .bolt-container34 {
    justify-content: center;
  }
  .bolt-container37 {
    align-items: center;
    margin-bottom: var(--dl-layout-space-twounits);
  }
  .bolt-text41 {
    font-size: 15px;
    text-align: center;
  }
  .bolt-text42 {
    font-size: 15px;
    text-align: center;
  }
  .bolt-text43 {
    font-size: 15px;
    text-align: center;
  }
  .bolt-text44 {
    font-size: 15px;
    text-align: center;
  }
}
