.caviar-container10 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.caviar-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
  background-color: rgb(207, 34, 40);
}
 
.caviar-navlink1 {
  display: contents;
}
 
.caviar-image1 {
  width: 200px;
  height: 50px;
  text-decoration: none;
}
 
.caviar-desktop-menu1 {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.caviar-links {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.caviar-navlink2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  margin-left: var(--dl-layout-space-oneandhalfunits);
  text-decoration: none;
}
 
.caviar-link10 {
  fill: var(--dl-color-theme-neutral-dark);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  margin-left: var(--dl-layout-space-oneandhalfunits);
  text-decoration: none;
}
 
.caviar-link11 {
  fill: var(--dl-color-theme-neutral-dark);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  margin-left: var(--dl-layout-space-oneandhalfunits);
  text-decoration: none;
}
 
.caviar-container11 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-left: var(--dl-layout-space-unit);
  flex-direction: row;
  justify-content: center;
}
 
.caviar-navlink3 {
  display: contents;
}
 
.caviar-container12 {
  flex: 0 0 auto;
  width: var(--dl-layout-size-xxlarge);
  height: var(--dl-layout-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-layout-radius-buttonradius);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(0, 94, 164);
}
 
.caviar-text12 {
  color: rgb(255, 255, 255);
  align-self: center;
}
 
.caviar-burger-menu {
  display: none;
}
 
.caviar-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.caviar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(207, 34, 40);
}
 
.caviar-nav {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  background-color: rgb(207, 34, 40);
}
 
.caviar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.caviar-logo {
  height: 2rem;
}
 
.caviar-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.caviar-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.caviar-container13 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: column;
}
 
.caviar-navlink4 {
  color: #ffffff;
  align-self: center;
  text-decoration: none;
}
 
.caviar-link12 {
  color: #ffffff;
  align-self: center;
  text-decoration: none;
}
 
.caviar-link13 {
  color: #ffffff;
  align-self: center;
  text-decoration: none;
}
 
.caviar-navlink5 {
  color: #ffffff;
  border-width: 0px;
  border-radius: var(--dl-layout-radius-buttonradius);
  text-decoration: none;
  background-color: rgb(0, 94, 164);
}
 
.caviar-desktop-menu2 {
  flex: 1;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
 
.caviar-desktop-menu3 {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.caviar-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.caviar-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.caviar-icon18 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.caviar-container14 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
 
.caviar-container15 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.caviar-navlink6 {
  color: #810b81;
  font-family: "Inter";
  text-decoration: underline;
}
 
.caviar-navlink7 {
  fill: #810b81;
  color: #810b81;
  font-family: "Inter";
  text-decoration: underline;
}
 
.caviar-text15 {
  font-family: "Inter";
}
 
.caviar-container16 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-sixunits);
  padding-bottom: var(--dl-layout-space-sixunits);
  justify-content: center;
}
 
.caviar-container17 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 600px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.caviar-container18 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
 
.caviar-image2 {
  width: 50px;
  object-fit: cover;
}
 
.caviar-text18 {
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-style: normal;
  margin-top: var(--dl-layout-space-oneandhalfunits);
  font-family: "Inter";
  font-weight: 800;
  margin-right: var(--dl-layout-space-oneandhalfunits);
}
 
.caviar-text19 {
  font-size: 20px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
  margin-left: var(--dl-layout-space-threeunits);
}
 
.caviar-text20 {
  width: 500px;
  font-size: 16px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  margin-left: var(--dl-layout-space-threeunits);
}
 
.caviar-text21 {
  color: #000000;
}
 
.caviar-link14 {
  color: #0450f1;
  text-decoration: underline;
}
 
.caviar-text22 {
  color: #000000;
}
 
.caviar-link15 {
  display: contents;
}
 
.caviar-container19 {
  flex: 0 0 auto;
  width: 150px;
  height: var(--dl-layout-size-small);
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: flex-start;
  align-items: center;
  margin-left: var(--dl-layout-space-threeunits);
  border-radius: 20px;
  padding-bottom: 24px;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(207, 34, 40);
}
 
.caviar-text23 {
  color: rgb(255, 255, 255);
}
 
.caviar-image3 {
  width: 350px;
  object-fit: cover;
}
 
.caviar-container20 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-twounits);
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 94, 164);
}
 
.caviar-iframe {
  width: 320px;
  height: 200px;
}
 
.caviar-container21 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 633px;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.caviar-image4 {
  width: 70px;
  object-fit: cover;
}
 
.caviar-text24 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
}
 
.caviar-text25 {
  color: rgb(255, 255, 255);
}
 
.caviar-container22 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-threeunits);
  align-items: center;
  flex-direction: column;
  padding-bottom: 48px;
  justify-content: center;
  background-color: #ffffff;
}
 
.caviar-text26 {
  color: #000000;
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-family: "Inter";
  font-weight: 700;
}
 
.caviar-container23 {
  gap: var(--dl-layout-space-threeunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.caviar-container24 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: var(--dl-layout-size-xxlarge);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.caviar-container25 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: var(--dl-layout-size-xxlarge);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.caviar-container26 {
  flex: 0 0 auto;
  width: var(--dl-layout-size-xxlarge);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.caviar-link16 {
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
  text-decoration: none;
}
 
.caviar-text33 {
  color: #2828ef;
}
 
.caviar-container27 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: center;
  background-color: rgb(207, 34, 40);
}
 
.caviar-container28 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.caviar-container29 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.caviar-container30 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.caviar-container31 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.caviar-container32 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.caviar-navlink8 {
  display: contents;
}
 
.caviar-image5 {
  width: 200px;
  height: 50px;
  text-decoration: none;
}
 
.caviar-text36 {
  color: #fffdfd;
  font-size: 20px;
}
 
.caviar-container33 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.caviar-button {
  color: #ffffff;
  border-width: 0px;
  background-color: rgb(0, 94, 164);
}
 
.caviar-container34 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.caviar-container35 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.caviar-text40 {
  color: #fffdfd;
  font-size: 16px;
}
 
.caviar-container36 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.caviar-text41 {
  color: rgb(255, 253, 253);
}
 
.caviar-container37 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.caviar-text42 {
  color: rgb(255, 253, 253);
  font-size: 20px;
}
 
.caviar-link17 {
  color: rgb(255, 253, 253);
  text-decoration: none;
}
 
.caviar-link18 {
  color: rgb(255, 253, 253);
  text-decoration: none;
}
 
.caviar-link19 {
  color: rgb(255, 253, 253);
  text-decoration: none;
}
 
.caviar-link20 {
  color: rgb(255, 253, 253);
  text-decoration: none;
}
 
.caviar-link21 {
  color: rgb(255, 253, 253);
  text-decoration: none;
}
 
.caviar-text43 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.caviar-container38 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.caviar-text46 {
  color: rgb(255, 255, 255);
  font-style: normal;
  margin-top: var(--dl-layout-space-unit);
  font-family: "Inter";
  font-weight: 400;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.caviar-image6 {
  width: 111px;
  margin: var(--dl-layout-space-unit);
  object-fit: cover;
}
 
@media(max-width: 991px) {
  .caviar-container21 {
    width: 600px;
  }
}
 
@media(max-width: 767px) {
  .caviar-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .caviar-desktop-menu1 {
    display: none;
  }
  .caviar-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .caviar-desktop-menu2 {
    display: none;
  }
  .caviar-desktop-menu3 {
    display: none;
  }
}
 
@media(max-width: 479px) {
  .caviar-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .caviar-link10 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
    text-decoration: none;
  }
  .caviar-icon10 {
    fill: #ffffff;
    width: var(--dl-layout-size-small);
    height: 30px;
  }
  .caviar-mobile-menu {
    padding: 16px;
  }
  .caviar-nav {
    height: 262px;
  }
  .caviar-container13 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .caviar-navlink4 {
    color: #ffffff;
  }
  .caviar-link12 {
    color: #ffffff;
  }
  .caviar-link13 {
    color: #ffffff;
  }
  .caviar-container14 {
    flex-direction: column;
  }
  .caviar-navlink6 {
    font-size: 13px;
  }
  .caviar-navlink7 {
    font-size: 13px;
  }
  .caviar-text15 {
    font-size: 13px;
  }
  .caviar-text16 {
    font-size: 13px;
  }
  .caviar-container16 {
    gap: var(--dl-layout-space-oneandhalfunits);
    padding-top: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .caviar-container17 {
    width: 100%;
    align-items: center;
  }
  .caviar-container18 {
    justify-content: center;
  }
  .caviar-text18 {
    font-size: 25px;
    text-align: center;
  }
  .caviar-text20 {
    width: auto;
    text-align: center;
    margin-left: 0px;
  }
  .caviar-container19 {
    width: auto;
    height: auto;
    align-self: center;
    margin-left: 0px;
  }
  .caviar-text23 {
    font-size: 16px;
    text-align: center;
  }
  .caviar-image3 {
    width: 100%;
  }
  .caviar-container20 {
    padding: var(--dl-layout-space-twounits);
    flex-direction: column;
  }
  .caviar-container21 {
    width: auto;
    align-items: center;
  }
  .caviar-image4 {
    margin-top: var(--dl-layout-space-unit);
    margin-bottom: var(--dl-layout-space-unit);
  }
  .caviar-text24 {
    font-size: 35px;
    text-align: center;
  }
  .caviar-text25 {
    text-align: center;
  }
  .caviar-text26 {
    text-align: center;
  }
  .caviar-container23 {
    width: auto;
    align-items: center;
    flex-direction: column;
  }
  .caviar-text27 {
    text-align: center;
  }
  .caviar-text29 {
    text-align: center;
  }
  .caviar-text31 {
    text-align: center;
  }
  .caviar-link16 {
    align-self: center;
    text-align: center;
  }
  .caviar-container28 {
    align-items: center;
  }
  .caviar-container29 {
    align-items: center;
    flex-direction: column;
  }
  .caviar-container30 {
    align-items: center;
  }
  .caviar-container31 {
    align-items: center;
  }
  .caviar-container32 {
    padding: var(--dl-layout-space-threeunits);
    align-items: center;
  }
  .caviar-container33 {
    justify-content: center;
  }
  .caviar-container34 {
    justify-content: center;
  }
  .caviar-container37 {
    align-items: center;
    margin-bottom: var(--dl-layout-space-twounits);
  }
  .caviar-text43 {
    font-size: 15px;
    text-align: center;
  }
  .caviar-text44 {
    font-size: 15px;
    text-align: center;
  }
  .caviar-text45 {
    font-size: 15px;
    text-align: center;
  }
  .caviar-text46 {
    font-size: 15px;
    text-align: center;
  }
}
