.drizzly-container10 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.drizzly-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
  background-color: rgb(207, 34, 40);
}
 
.drizzly-navlink1 {
  display: contents;
}
 
.drizzly-image1 {
  width: 200px;
  height: 50px;
  text-decoration: none;
}
 
.drizzly-desktop-menu1 {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.drizzly-links {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.drizzly-navlink2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  margin-left: var(--dl-layout-space-oneandhalfunits);
  text-decoration: none;
}
 
.drizzly-link10 {
  fill: var(--dl-color-theme-neutral-dark);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  margin-left: var(--dl-layout-space-oneandhalfunits);
  text-decoration: none;
}
 
.drizzly-link11 {
  fill: var(--dl-color-theme-neutral-dark);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  margin-left: var(--dl-layout-space-oneandhalfunits);
  text-decoration: none;
}
 
.drizzly-container11 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-left: var(--dl-layout-space-unit);
  flex-direction: row;
  justify-content: center;
}
 
.drizzly-navlink3 {
  display: contents;
}
 
.drizzly-container12 {
  flex: 0 0 auto;
  width: var(--dl-layout-size-xxlarge);
  height: var(--dl-layout-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-layout-radius-buttonradius);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(0, 94, 164);
}
 
.drizzly-text12 {
  color: rgb(255, 255, 255);
  align-self: center;
}
 
.drizzly-burger-menu {
  display: none;
}
 
.drizzly-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.drizzly-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(207, 34, 40);
}
 
.drizzly-nav {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  background-color: rgb(207, 34, 40);
}
 
.drizzly-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.drizzly-logo {
  height: 2rem;
}
 
.drizzly-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.drizzly-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.drizzly-container13 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: column;
}
 
.drizzly-navlink4 {
  color: #ffffff;
  align-self: center;
  text-decoration: none;
}
 
.drizzly-link12 {
  color: #ffffff;
  align-self: center;
  text-decoration: none;
}
 
.drizzly-link13 {
  color: #ffffff;
  align-self: center;
  text-decoration: none;
}
 
.drizzly-navlink5 {
  color: #ffffff;
  border-width: 0px;
  border-radius: var(--dl-layout-radius-buttonradius);
  text-decoration: none;
  background-color: rgb(0, 94, 164);
}
 
.drizzly-desktop-menu2 {
  flex: 1;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
 
.drizzly-desktop-menu3 {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.drizzly-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.drizzly-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.drizzly-icon18 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.drizzly-container14 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
 
.drizzly-container15 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.drizzly-navlink6 {
  color: #810b81;
  font-family: "Inter";
  text-decoration: underline;
}
 
.drizzly-navlink7 {
  fill: #810b81;
  color: #810b81;
  font-family: "Inter";
  text-decoration: underline;
}
 
.drizzly-text15 {
  font-family: "Inter";
}
 
.drizzly-container16 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-sixunits);
  padding-bottom: var(--dl-layout-space-sixunits);
  justify-content: center;
}
 
.drizzly-container17 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 600px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.drizzly-container18 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
 
.drizzly-image2 {
  width: 50px;
  object-fit: cover;
}
 
.drizzly-text16 {
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-style: normal;
  margin-top: var(--dl-layout-space-oneandhalfunits);
  font-family: "Inter";
  font-weight: 800;
  margin-right: var(--dl-layout-space-oneandhalfunits);
}
 
.drizzly-text17 {
  font-size: 20px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
  margin-left: var(--dl-layout-space-threeunits);
}
 
.drizzly-text18 {
  width: 500px;
  font-size: 16px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  margin-left: var(--dl-layout-space-threeunits);
}
 
.drizzly-text19 {
  color: #000000;
}
 
.drizzly-link14 {
  color: #0450f1;
  text-decoration: underline;
}
 
.drizzly-text20 {
  color: #000000;
}
 
.drizzly-link15 {
  display: contents;
}
 
.drizzly-container19 {
  flex: 0 0 auto;
  width: 150px;
  height: var(--dl-layout-size-small);
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: flex-start;
  align-items: center;
  margin-left: var(--dl-layout-space-threeunits);
  border-radius: 20px;
  padding-bottom: 24px;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(207, 34, 40);
}
 
.drizzly-text21 {
  color: rgb(255, 255, 255);
}
 
.drizzly-image3 {
  width: 350px;
  object-fit: cover;
}
 
.drizzly-container20 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-twounits);
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 94, 164);
}
 
.drizzly-iframe {
  width: 320px;
  height: 200px;
}
 
.drizzly-container21 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 633px;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.drizzly-image4 {
  width: 70px;
  object-fit: cover;
}
 
.drizzly-text22 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
}
 
.drizzly-text23 {
  color: rgb(255, 255, 255);
}
 
.drizzly-container22 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-threeunits);
  align-items: center;
  flex-direction: column;
  padding-bottom: 48px;
  justify-content: center;
  background-color: #ffffff;
}
 
.drizzly-text24 {
  color: #000000;
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-family: "Inter";
  font-weight: 700;
}
 
.drizzly-container23 {
  gap: var(--dl-layout-space-threeunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.drizzly-container24 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: var(--dl-layout-size-xxlarge);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.drizzly-container25 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: var(--dl-layout-size-xxlarge);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.drizzly-container26 {
  flex: 0 0 auto;
  width: var(--dl-layout-size-xxlarge);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.drizzly-link16 {
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
  text-decoration: none;
}
 
.drizzly-text31 {
  color: #2828ef;
}
 
.drizzly-container27 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: center;
  background-color: rgb(207, 34, 40);
}
 
.drizzly-container28 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.drizzly-container29 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.drizzly-container30 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.drizzly-container31 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.drizzly-container32 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.drizzly-navlink8 {
  display: contents;
}
 
.drizzly-image5 {
  width: 200px;
  height: 50px;
  text-decoration: none;
}
 
.drizzly-text34 {
  color: #fffdfd;
  font-size: 20px;
}
 
.drizzly-container33 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.drizzly-button {
  color: #ffffff;
  border-width: 0px;
  background-color: rgb(0, 94, 164);
}
 
.drizzly-container34 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.drizzly-container35 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.drizzly-text38 {
  color: #fffdfd;
  font-size: 16px;
}
 
.drizzly-container36 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.drizzly-text39 {
  color: rgb(255, 253, 253);
}
 
.drizzly-container37 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.drizzly-text40 {
  color: rgb(255, 253, 253);
  font-size: 20px;
}
 
.drizzly-link17 {
  color: rgb(255, 253, 253);
  text-decoration: none;
}
 
.drizzly-link18 {
  color: rgb(255, 253, 253);
  text-decoration: none;
}
 
.drizzly-link19 {
  color: rgb(255, 253, 253);
  text-decoration: none;
}
 
.drizzly-link20 {
  color: rgb(255, 253, 253);
  text-decoration: none;
}
 
.drizzly-link21 {
  color: rgb(255, 253, 253);
  text-decoration: none;
}
 
.drizzly-text41 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.drizzly-container38 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.drizzly-text44 {
  color: rgb(255, 255, 255);
  font-style: normal;
  margin-top: var(--dl-layout-space-unit);
  font-family: "Inter";
  font-weight: 400;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.drizzly-image6 {
  width: 111px;
  margin: var(--dl-layout-space-unit);
  object-fit: cover;
}
 
@media(max-width: 991px) {
  .drizzly-container21 {
    width: 600px;
  }
}
 
@media(max-width: 767px) {
  .drizzly-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .drizzly-desktop-menu1 {
    display: none;
  }
  .drizzly-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .drizzly-desktop-menu2 {
    display: none;
  }
  .drizzly-desktop-menu3 {
    display: none;
  }
}
 
@media(max-width: 479px) {
  .drizzly-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .drizzly-link10 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
    text-decoration: none;
  }
  .drizzly-icon10 {
    fill: #ffffff;
    width: var(--dl-layout-size-small);
    height: 30px;
  }
  .drizzly-mobile-menu {
    padding: 16px;
  }
  .drizzly-nav {
    height: 262px;
  }
  .drizzly-container13 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .drizzly-navlink4 {
    color: #ffffff;
  }
  .drizzly-link12 {
    color: #ffffff;
  }
  .drizzly-link13 {
    color: #ffffff;
  }
  .drizzly-container14 {
    flex-direction: column;
  }
  .drizzly-navlink6 {
    font-size: 13px;
  }
  .drizzly-navlink7 {
    font-size: 13px;
  }
  .drizzly-text15 {
    font-size: 13px;
  }
  .drizzly-container16 {
    gap: var(--dl-layout-space-oneandhalfunits);
    padding-top: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .drizzly-container17 {
    width: 100%;
    align-items: center;
  }
  .drizzly-container18 {
    justify-content: center;
  }
  .drizzly-text16 {
    font-size: 25px;
    text-align: center;
  }
  .drizzly-text18 {
    width: auto;
    text-align: center;
    margin-left: 0px;
  }
  .drizzly-container19 {
    width: auto;
    height: auto;
    align-self: center;
    margin-left: 0px;
  }
  .drizzly-text21 {
    font-size: 16px;
    text-align: center;
  }
  .drizzly-image3 {
    width: 100%;
  }
  .drizzly-container20 {
    padding: var(--dl-layout-space-twounits);
    flex-direction: column;
  }
  .drizzly-container21 {
    width: auto;
    align-items: center;
  }
  .drizzly-image4 {
    margin-top: var(--dl-layout-space-unit);
    margin-bottom: var(--dl-layout-space-unit);
  }
  .drizzly-text22 {
    font-size: 35px;
    text-align: center;
  }
  .drizzly-text23 {
    text-align: center;
  }
  .drizzly-text24 {
    text-align: center;
  }
  .drizzly-container23 {
    width: auto;
    align-items: center;
    flex-direction: column;
  }
  .drizzly-text25 {
    text-align: center;
  }
  .drizzly-text27 {
    text-align: center;
  }
  .drizzly-text29 {
    text-align: center;
  }
  .drizzly-link16 {
    align-self: center;
    text-align: center;
  }
  .drizzly-container28 {
    align-items: center;
  }
  .drizzly-container29 {
    align-items: center;
    flex-direction: column;
  }
  .drizzly-container30 {
    align-items: center;
  }
  .drizzly-container31 {
    align-items: center;
  }
  .drizzly-container32 {
    padding: var(--dl-layout-space-threeunits);
    align-items: center;
  }
  .drizzly-container33 {
    justify-content: center;
  }
  .drizzly-container34 {
    justify-content: center;
  }
  .drizzly-container37 {
    align-items: center;
    margin-bottom: var(--dl-layout-space-twounits);
  }
  .drizzly-text41 {
    font-size: 15px;
    text-align: center;
  }
  .drizzly-text42 {
    font-size: 15px;
    text-align: center;
  }
  .drizzly-text43 {
    font-size: 15px;
    text-align: center;
  }
  .drizzly-text44 {
    font-size: 15px;
    text-align: center;
  }
}
