.postmates-container10 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.postmates-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
  background-color: rgb(207, 34, 40);
}
 
.postmates-navlink1 {
  display: contents;
}
 
.postmates-image1 {
  width: 200px;
  height: 50px;
  text-decoration: none;
}
 
.postmates-desktop-menu1 {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.postmates-links {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.postmates-navlink2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  margin-left: var(--dl-layout-space-oneandhalfunits);
  text-decoration: none;
}
 
.postmates-link10 {
  fill: var(--dl-color-theme-neutral-dark);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  margin-left: var(--dl-layout-space-oneandhalfunits);
  text-decoration: none;
}
 
.postmates-link11 {
  fill: var(--dl-color-theme-neutral-dark);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  margin-left: var(--dl-layout-space-oneandhalfunits);
  text-decoration: none;
}
 
.postmates-container11 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-left: var(--dl-layout-space-unit);
  flex-direction: row;
  justify-content: center;
}
 
.postmates-navlink3 {
  display: contents;
}
 
.postmates-container12 {
  flex: 0 0 auto;
  width: var(--dl-layout-size-xxlarge);
  height: var(--dl-layout-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-layout-radius-buttonradius);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(0, 94, 164);
}
 
.postmates-text12 {
  color: rgb(255, 255, 255);
  align-self: center;
}
 
.postmates-burger-menu {
  display: none;
}
 
.postmates-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.postmates-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(207, 34, 40);
}
 
.postmates-nav {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  background-color: rgb(207, 34, 40);
}
 
.postmates-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.postmates-logo {
  height: 2rem;
}
 
.postmates-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.postmates-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.postmates-container13 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: column;
}
 
.postmates-navlink4 {
  color: #ffffff;
  align-self: center;
  text-decoration: none;
}
 
.postmates-link12 {
  color: #ffffff;
  align-self: center;
  text-decoration: none;
}
 
.postmates-link13 {
  color: #ffffff;
  align-self: center;
  text-decoration: none;
}
 
.postmates-navlink5 {
  color: #ffffff;
  border-width: 0px;
  border-radius: var(--dl-layout-radius-buttonradius);
  text-decoration: none;
  background-color: rgb(0, 94, 164);
}
 
.postmates-desktop-menu2 {
  flex: 1;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
 
.postmates-desktop-menu3 {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.postmates-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.postmates-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.postmates-icon18 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.postmates-container14 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
 
.postmates-container15 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.postmates-navlink6 {
  color: #810b81;
  font-family: "Inter";
  text-decoration: underline;
}
 
.postmates-navlink7 {
  fill: #810b81;
  color: #810b81;
  font-family: "Inter";
  text-decoration: underline;
}
 
.postmates-text15 {
  font-family: "Inter";
}
 
.postmates-container16 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-sixunits);
  padding-bottom: var(--dl-layout-space-sixunits);
  justify-content: center;
}
 
.postmates-container17 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 600px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.postmates-container18 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
 
.postmates-image2 {
  width: 50px;
  object-fit: cover;
}
 
.postmates-text16 {
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-style: normal;
  margin-top: var(--dl-layout-space-oneandhalfunits);
  font-family: "Inter";
  font-weight: 800;
  margin-right: var(--dl-layout-space-oneandhalfunits);
}
 
.postmates-text17 {
  font-size: 20px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
  margin-left: var(--dl-layout-space-threeunits);
}
 
.postmates-text18 {
  width: 500px;
  font-size: 16px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  margin-left: var(--dl-layout-space-threeunits);
}
 
.postmates-text19 {
  color: #000000;
}
 
.postmates-link14 {
  color: #0450f1;
  text-decoration: underline;
}
 
.postmates-text20 {
  color: #000000;
}
 
.postmates-link15 {
  display: contents;
}
 
.postmates-container19 {
  flex: 0 0 auto;
  width: 150px;
  height: var(--dl-layout-size-small);
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: flex-start;
  align-items: center;
  margin-left: var(--dl-layout-space-threeunits);
  border-radius: 20px;
  padding-bottom: 24px;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(207, 34, 40);
}
 
.postmates-text21 {
  color: rgb(255, 255, 255);
}
 
.postmates-image3 {
  width: 350px;
  object-fit: cover;
}
 
.postmates-container20 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-twounits);
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 94, 164);
}
 
.postmates-iframe {
  width: 320px;
  height: 200px;
}
 
.postmates-container21 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 633px;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.postmates-image4 {
  width: 70px;
  object-fit: cover;
}
 
.postmates-text22 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
}
 
.postmates-text23 {
  color: rgb(255, 255, 255);
}
 
.postmates-container22 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-threeunits);
  align-items: center;
  flex-direction: column;
  padding-bottom: 48px;
  justify-content: center;
  background-color: #ffffff;
}
 
.postmates-text24 {
  color: #000000;
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-family: "Inter";
  font-weight: 700;
}
 
.postmates-container23 {
  gap: var(--dl-layout-space-threeunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.postmates-container24 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: var(--dl-layout-size-xxlarge);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.postmates-container25 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: var(--dl-layout-size-xxlarge);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.postmates-container26 {
  flex: 0 0 auto;
  width: var(--dl-layout-size-xxlarge);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.postmates-link16 {
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
  text-decoration: none;
}
 
.postmates-text31 {
  color: #2828ef;
}
 
.postmates-container27 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: center;
  background-color: rgb(207, 34, 40);
}
 
.postmates-container28 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.postmates-container29 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.postmates-container30 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.postmates-container31 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.postmates-container32 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.postmates-navlink8 {
  display: contents;
}
 
.postmates-image5 {
  width: 200px;
  height: 50px;
  text-decoration: none;
}
 
.postmates-text34 {
  color: #fffdfd;
  font-size: 20px;
}
 
.postmates-container33 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.postmates-button {
  color: #ffffff;
  border-width: 0px;
  background-color: rgb(0, 94, 164);
}
 
.postmates-container34 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.postmates-container35 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.postmates-text38 {
  color: #fffdfd;
  font-size: 16px;
}
 
.postmates-container36 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.postmates-text39 {
  color: rgb(255, 253, 253);
}
 
.postmates-container37 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.postmates-text40 {
  color: rgb(255, 253, 253);
  font-size: 20px;
}
 
.postmates-link17 {
  color: rgb(255, 253, 253);
  text-decoration: none;
}
 
.postmates-link18 {
  color: rgb(255, 253, 253);
  text-decoration: none;
}
 
.postmates-link19 {
  color: rgb(255, 253, 253);
  text-decoration: none;
}
 
.postmates-link20 {
  color: rgb(255, 253, 253);
  text-decoration: none;
}
 
.postmates-link21 {
  color: rgb(255, 253, 253);
  text-decoration: none;
}
 
.postmates-text41 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.postmates-container38 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.postmates-text44 {
  color: rgb(255, 255, 255);
  font-style: normal;
  margin-top: var(--dl-layout-space-unit);
  font-family: "Inter";
  font-weight: 400;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.postmates-image6 {
  width: 111px;
  margin: var(--dl-layout-space-unit);
  object-fit: cover;
}
 
@media(max-width: 991px) {
  .postmates-container21 {
    width: 600px;
  }
}
 
@media(max-width: 767px) {
  .postmates-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .postmates-desktop-menu1 {
    display: none;
  }
  .postmates-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .postmates-desktop-menu2 {
    display: none;
  }
  .postmates-desktop-menu3 {
    display: none;
  }
}
 
@media(max-width: 479px) {
  .postmates-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .postmates-link10 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
    text-decoration: none;
  }
  .postmates-icon10 {
    fill: #ffffff;
    width: var(--dl-layout-size-small);
    height: 30px;
  }
  .postmates-mobile-menu {
    padding: 16px;
  }
  .postmates-nav {
    height: 262px;
  }
  .postmates-container13 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .postmates-navlink4 {
    color: #ffffff;
  }
  .postmates-link12 {
    color: #ffffff;
  }
  .postmates-link13 {
    color: #ffffff;
  }
  .postmates-container14 {
    flex-direction: column;
  }
  .postmates-navlink6 {
    font-size: 13px;
  }
  .postmates-navlink7 {
    font-size: 13px;
  }
  .postmates-text15 {
    font-size: 13px;
  }
  .postmates-container16 {
    gap: var(--dl-layout-space-oneandhalfunits);
    padding-top: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .postmates-container17 {
    width: 100%;
    align-items: center;
  }
  .postmates-container18 {
    justify-content: center;
  }
  .postmates-text16 {
    font-size: 25px;
    text-align: center;
  }
  .postmates-text18 {
    width: auto;
    text-align: center;
    margin-left: 0px;
  }
  .postmates-container19 {
    width: auto;
    height: auto;
    align-self: center;
    margin-left: 0px;
  }
  .postmates-text21 {
    font-size: 16px;
    text-align: center;
  }
  .postmates-image3 {
    width: 100%;
  }
  .postmates-container20 {
    padding: var(--dl-layout-space-twounits);
    flex-direction: column;
  }
  .postmates-container21 {
    width: auto;
    align-items: center;
  }
  .postmates-image4 {
    margin-top: var(--dl-layout-space-unit);
    margin-bottom: var(--dl-layout-space-unit);
  }
  .postmates-text22 {
    font-size: 35px;
    text-align: center;
  }
  .postmates-text23 {
    text-align: center;
  }
  .postmates-text24 {
    text-align: center;
  }
  .postmates-container23 {
    width: auto;
    align-items: center;
    flex-direction: column;
  }
  .postmates-text25 {
    text-align: center;
  }
  .postmates-text27 {
    text-align: center;
  }
  .postmates-text29 {
    text-align: center;
  }
  .postmates-link16 {
    align-self: center;
    text-align: center;
  }
  .postmates-container28 {
    align-items: center;
  }
  .postmates-container29 {
    align-items: center;
    flex-direction: column;
  }
  .postmates-container30 {
    align-items: center;
  }
  .postmates-container31 {
    align-items: center;
  }
  .postmates-container32 {
    padding: var(--dl-layout-space-threeunits);
    align-items: center;
  }
  .postmates-container33 {
    justify-content: center;
  }
  .postmates-container34 {
    justify-content: center;
  }
  .postmates-container37 {
    align-items: center;
    margin-bottom: var(--dl-layout-space-twounits);
  }
  .postmates-text41 {
    font-size: 15px;
    text-align: center;
  }
  .postmates-text42 {
    font-size: 15px;
    text-align: center;
  }
  .postmates-text43 {
    font-size: 15px;
    text-align: center;
  }
  .postmates-text44 {
    font-size: 15px;
    text-align: center;
  }
}
