.features22-layout349 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.features22-max-width {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.features22-container1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  max-width: 600px;
  align-items: center;
  margin-bottom: var(--dl-layout-space-fourunits);
  flex-direction: column;
}
 
.features22-text11 {
  text-align: center;
}
 
.features22-container2 {
  width: 100%;
}
 
.features22-card1 {
  width: 100%;
  display: flex;
  box-shadow: 2px 2px 4px 0px #d4d4d4;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
 
.features22-image1 {
  width: var(--dl-layout-size-medium);
  height: var(--dl-layout-size-medium);
}
 
.features22-text13 {
  text-align: center;
}
 
.features22-card2 {
  width: 100%;
  display: flex;
  box-shadow: 2px 2px 4px 0px #d4d4d4;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
 
.features22-image2 {
  width: var(--dl-layout-size-medium);
  height: var(--dl-layout-size-medium);
}
 
.features22-text15 {
  text-align: center;
}
 
.features22-card3 {
  width: 100%;
  display: flex;
  box-shadow: 2px 2px 4px 0px #d4d4d4;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
 
.features22-image3 {
  width: var(--dl-layout-size-medium);
  height: var(--dl-layout-size-medium);
}
 
.features22-text17 {
  text-align: center;
}
 
.features22-card4 {
  width: 100%;
  display: flex;
  box-shadow: 2px 2px 4px 0px #d4d4d4;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
 
.features22-image4 {
  width: var(--dl-layout-size-medium);
  height: var(--dl-layout-size-medium);
}
 
.features22-text19 {
  text-align: center;
}
 
.features22-card5 {
  width: 100%;
  display: flex;
  box-shadow: 2px 2px 4px 0px #d4d4d4;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
 
.features22-image5 {
  width: var(--dl-layout-size-medium);
  height: var(--dl-layout-size-medium);
}
 
.features22-text21 {
  text-align: center;
}
 
.features22-card6 {
  width: 100%;
  display: flex;
  box-shadow: 2px 2px 4px 0px #d4d4d4;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
 
.features22-image6 {
  width: var(--dl-layout-size-medium);
  height: var(--dl-layout-size-medium);
}
 
.features22-text23 {
  text-align: center;
}
 
.features22-card7 {
  width: 100%;
  display: flex;
  box-shadow: 2px 2px 4px 0px #d4d4d4;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
 
.features22-image7 {
  width: var(--dl-layout-size-medium);
  height: var(--dl-layout-size-medium);
}
 
.features22-text25 {
  text-align: center;
}
 
.features22-card8 {
  width: 100%;
  display: flex;
  box-shadow: 2px 2px 4px 0px #d4d4d4;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
 
.features22-image8 {
  width: var(--dl-layout-size-medium);
  height: var(--dl-layout-size-medium);
}
 
.features22-text27 {
  text-align: center;
}
 
@media(max-width: 991px) {
  .features22-max-width {
    flex-direction: column;
  }
  .features22-container1 {
    margin-bottom: var(--dl-layout-space-threeunits);
  }
}
 
@media(max-width: 767px) {
  .features22-container1 {
    margin-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .features22-card1 {
    width: 100%;
  }
  .features22-card2 {
    width: 100%;
  }
  .features22-card3 {
    width: 100%;
  }
  .features22-card4 {
    width: 100%;
  }
  .features22-card5 {
    width: 100%;
  }
  .features22-card6 {
    width: 100%;
  }
  .features22-card7 {
    width: 100%;
  }
  .features22-card8 {
    width: 100%;
  }
}
